body {
  font-family: "Cairo", sans-serif !important;
  background-color: #f5f5f5;
}

button {
  background-color: transparent !important;
  color: #bf40bf !important;
  border-color: #bf40bf !important;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.video-icon {
  color: white !important;
  background-color: #bf40bf !important;
  border-radius: 15% !important;
}

.nav-link:hover {
  color: white !important;
  background-color: #bf40bf !important;
}

*{
  transition: 0.3s ease;
}
time {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0px 3px;
  border-radius: 5px;
}

.watch-later {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.card {
  transition: 0.3s ease;
}
.card:hover .card-img-top {
  transform: scale(1.1);
}


.card:hover .watch-later {
  opacity: 1;
}

.card:hover {
  transform: translateY(-0.7%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
