button {
  background-color: transparent !important;
  color: #bf40bf !important;
  border-color: #bf40bf !important;
}

.video-icon {
  color: white !important;
  background-color: #bf40bf !important;
  border-radius: 15% !important;
}

.nav-link:hover {
  color: white !important;
  background-color: #bf40bf !important;
}
